.timer {
    font-size: 4rem;
    color: #e6e3db;
    font-weight: bold;
    margin: 3rem 41rem;
}

.buttons {
    display: flex;
    padding: 2rem;
    font-size: 3rem;
}

.start, .pause {
    color: #e6e3db;
    background-color: #892889;
}
.start:focus, .pause:focus {
    color: #B865B8;
}