.titles {
    text-align: center;
    background-color: #892889;
    padding: .5rem;
}
.titles h2, h3 {
    padding: .5rem;
    margin: 0;
}

.meditations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* desde desktop a tablet (768 a 1024px) */
@media screen and (max-width: 1024px){
    .meditations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .titles {
        font-size: 1.5rem;
    }
}

/* desde tablet a mobile (320 a 768px) */
@media screen and (max-width: 768px){
    .meditations {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .titles {
        width: 100%;
    }
    .titles h2, h3 {
        padding: 0;
    }
}